<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= title %></title>

  <link rel="icon" href="https://flavoredgherkin.rajatthareja.com/fg.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection"/>
  <link href="https://cdn.rawgit.com/rajatthareja/FlavoredGherkin/v0.1/css/flavored.gherkin.min.css" rel="stylesheet">
</head>
