<b><%= step[:keyword] %></b> <%= ERB::Util.html_escape(step[:text]).gsub('&lt;', '<b>').gsub('&gt;', '</b>')%>
<% if step[:argument]%>
  <% step[:argument][:rows].each do |row| %>
    <div class="row">
      <% col_size = 12/row[:cells].size%>
      <% row[:cells].each do |cell| %>
          <div class="col s<%= col_size %>"><b>| </b><%= cell[:value] %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
